<% flash.each do |type, msg| %>
  <div class="position-fixed bottom-0 end-0 p-3" data-controller="toast">
    <div class="toast w-auto
                <%= 'bg-success text-light' if type == 'success' %>
                <%= 'bg-danger text-light' if type == 'error' %>
                <%= 'bg-warning text-light' if type == 'warning' %>
                <%= 'bg-info text-dark' if type == 'info' %>"
         role="alert" aria-live="assertive" aria-atomic="true" data-toast-target='toast'>
      <div class="toast-header">
        <strong class="me-auto"> <%= type.capitalize %> </strong>
        <small>just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <ul>
          <% msg.each do |e| %>
            <li><%= e %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% flash.discard(type) %>
<% end %>
